<section id="header">
    <a routerLink=""><img src="assets/img/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a class="active" routerLink="/home">Home</a></li>
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li id="lg-bag"><a routerLink="/cart"><i class="far fa-shopping-bag"></i></a></li>
            <li id="lg-bag"><a routerLink="/login"><i class="far fa-solid fa-user"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a routerLink="cart"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>
